@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-VariableFont_opsz,wght.ttf');
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.ttf');
}

h1,h2,h3{
    font-family: 'Poppins', serif;
}

body,input,button,p{
    font-family: 'Inter', serif;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 15px 80px;
    border-bottom: 1px solid #EAEAEA;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;

    padding: 0;
}

.logo-container img {
    width: 50px;
    height: 50px;
}

.logo-text p,
.logo-text h3 {
    margin: 0;
}

.logo-text p {
    font-size: 13px;
    color: gray;
}

.search-container {
    display: flex;
    align-items: center;

    width: 500px;
    height: 42px;

    padding: 0 14px;

    background-color: #F3F4F6;
    border: 1px solid #DADADA;
    border-radius: 12px;
}

.search-container form {
    display: flex;
    align-items: center;
    width: 100%;
}

.search-container input {
    width: 100%;
    border: none;
    background: transparent;

    outline: none;
    font-size: 14px;
}

.search-container img {
    width: 16px;
    height: 16px;
    margin-right: 10px;
    opacity: .6;
}

.actions-container {
    display: flex;
    align-items: center;
    gap: 35px;
}

.user-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.user-container img {
    width: 20px;
    height: 20px;
}

.cart-container img {
    width: 28px;
    height: 28px;
}