@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-VariableFont_opsz,wght.ttf');
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.ttf');
}

body {
    font-family: 'Inter', sans-serif;
}

h1,h2,h3 {
    font-family: 'Poppins', sans-serif;
}